@using Mecanica.Models.Enums
@model IEnumerable<Mecanica.Models.Dtos.ClienteDto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Id)
            </th>
            <th>
                Nome
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string linkEdit;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Id)
                </td>
                @if ((int)item.Pessoa.TipoPessoa == 0)
                {
                    linkEdit = "EditPJ";
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaJuridica.NomeFantasia)
                    </td>
                }
                else
                {
                    linkEdit = "EditPF";
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaFisica.Nome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.ActionLink("Atualizar", "EditPF", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id  }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
