@using Mecanica.Models.Enums
@model IEnumerable<Mecanica.Models.Dtos.ClienteDto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Id)
            </th>
            @if (Html.DisplayNameFor(model => model.Pessoa.TipoPessoa) == "2")
            {
                <th>
                    @Html.DisplayNameFor(model => model.PessoaJuridica.NomeFantasia)
                </th>
            }
            else
            {
                <th>
                    @Html.DisplayNameFor(model => model.PessoaFisica.Nome)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Id)
                </td>
                @if ((int)item.Pessoa.TipoPessoa == 2)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaJuridica.NomeFantasia)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.PessoaFisica.Nome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
