@model IEnumerable<Mecanica.Models.DTOS.VeiculoDto>

@{
	ViewData["Title"] = "List";
}

<h1>Veículos Cadastrados</h1>
	<a asp-action="Create">Cadastrar veículo</a>
</p>
<table class="table">
	<thead>
		<tr>
			@*<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>*@
			<th>
				@Html.DisplayNameFor(model =>model.Placa)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fabricante)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Modelo)
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.AnoFabricacao)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AnoModelo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Combustivel)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Cor)
				</th>*@
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@*<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.Placa)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fabricante)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Modelo)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.AnoFabricacao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AnoModelo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Combustivel)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Cor)
					</td>*@
				<td>
					@Html.ActionLink("Atualizar", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Detalhes", "Details", new { id = item.Id  }) |
					@Html.ActionLink("Excluir", "Delete", new { id = item.Id  })
				</td>
			</tr>
		}
	</tbody>
</table>
